<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <title>Gimnacia</title>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<div id="father-box" class="black">
    <div id="top-down"></div>
    <div id="rabbit-head-box">
        <div id="rabbit-head">
            <img src="/images/rabit.png" id="rabbit-head-img"/>
        </div>
    </div>
</div>
<div id="lineBox"><div id="line"></div></div>
<div id="father-box2">
    <div id="down-top"></div>
    <div id="hatLeft"></div>
    <div id="hatRight"></div>
    <div id="hatDown"></div>
    <div id="teamname">
        <h1>Gimnacia</h1>
        <h3><a href="/login">登录系统</a></h3>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>